<%- include("Layout/header")%>
<main>
  <h1>Login</h1>
  <form action="/auth/google" method="GET">
    <button type="submit">Login with Google</button>
  </form>
</main>
<%- include("Layout/footer")%>
