<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication System</title>
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
  </body>
</html>
